.card-container {
  width: 239px;
  height: 450px;
  border-radius: 4px;
  margin: 5px;
  position: relative;
  cursor: pointer;
}

.card-container:hover{
    transform: scale(1.02);
    transition: 0.6s;
}
.product-old-price {
  color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
  font-weight: 300;
  text-decoration-line: line-through;
  margin-right: 2px;
}
.product-new-price {
  color: #6d84ff;
  font-size: 20px;
  font-weight: 600;
}
.rating-component {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.redhearticon {
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
  fill: red;
  color: red;
  width: 32px;
  height: 32px;
}
.hearticon {
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
  color: white;
  width: 32px;
  height: 32px;
}
.view-product {  
    display: none;
    color: #fff;
    background: rgba(109, 132, 255, 0.71);
    text-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    bottom: 105px;
    padding: 10px;
    width: 220px;
    text-align: center;
}
.card-container:hover .view-product{
    display: block;
}
@media (max-width:465px){
    .ProductCard-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
